body {
  padding-top: 20px;
}

.container {
  width: 800px;
}

.flags-action-bar {
  margin-bottom: 20px;
}

.flags-list .list-group-item {
  margin-bottom: 3px;
}

.list-group-item .flag-name {

  font-size: 1.3em;
}

.open-file-panel {
  margin-top: 50px;
}

.open-file-panel label {
  font-size: 3em;
}

.control-label {
  font-size: 1.5em;
}

form.flag-form {
  margin-top: 25px;
}

.add-list-item-btn {
  margin-top: 10px;
}

.list-type-item {
  margin-bottom: 5px;
}

.save-btn {
  margin-top: 20px;
}

.type-selector {
  /*margin-left: 20px;*/
  width: 50%;
}

.selected-type-display, .type-selector-items {
  width: 80%;
}

.error-message {
  margin-top: 20px;
}